@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: "Raleway", sans-serif;
    background-color: #A9D7D1;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

main {
    background-color: #f7f7ef;
    text-align: center;
    min-width: 300px;
    width: 75%;
    margin: auto;
    padding: 2em;
    border: 1em solid transparent;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

button {
    position: relative;
    top: 0;
    font-size: 1.3em;
    transition: background-color 2000ms linear, color 1000ms linear;
}

fieldset {
    padding: 1.5em;
    margin-bottom: 3em;
}

legend {
    font-size: 1.1em;
}

#personal label {
    display: inline-block;
    position: absolute;
    text-align: right;
    width: 15%;
    left: 34%;
}

#personal input {
    display: inline-block;
    position: absolute;
    width: 15%;
    right: 34%;
}

#politics {
    line-height: 2;
}

hr {
    position: relative;
    bottom: 1em;
    width: 40%;
}

main {
    min-width: 633px;
}

fieldset {
    min-width: 463px;
}

.hidden {
    display: none;
    opacity: 0;
}

#othertext {
    opacity: 1;
    width: 90%;
    height: 30%;
}
